services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: AnnaMaytesyan
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: bot_db
    ports:
      - "5432:5432"

  bot:
    build: .
    env_file:
      - .env
    depends_on:
      - db